<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538531340012-lhc7p5fg2u85qs4f9b6m06m3u2kcffn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538531340012-lhc7p5fg2u85qs4f9b6m06m3u2kcffn3</string>
	<key>API_KEY</key>
	<string>AIzaSyChtb0w98sHMdmqMKuV5-eulIs6V5-9HZs</string>
	<key>GCM_SENDER_ID</key>
	<string>538531340012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>test-ba5fd</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ba5fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538531340012:ios:2d31d439fdc343904a8fc9</string>
</dict>
</plist>